
.box1{
    width:200px;
    height: 200px;
    border: 2px solid;
    text-align: center;
    text-shadow: 2px 3px 4px ;
    box-shadow: 2px 3px 4px ;

}
#grid {
    display: grid;
    height: 100px;
    grid-template: repeat(4, 1fr) / 50px 100px;
  }
  
  #item1 {
    background-color: lime;
    grid-area: 2 / 2 / auto / span 3;
  }
  
  #item2 {
    background-color: yellow;
  }
  
  #item3 {
    background-color: blue;
  }